// colors
$primary: #525f7f;
$secondary: #6772e5;
$red: #E25950;
$yellow: #f5be58;
$green: #8cb930;
$blue: #2C97CF;
//$blue: #48B5D1;
//$blue: #41B0E9;
$dark: #23272b;
$grey: #eeeeee;

$main: #32325d;